// ---------------------------------------------------------------------------------------
//                                        ILGPU
//                           Copyright (c) 2021 ILGPU Project
//                                    www.ilgpu.net
//
// File: .test.tt/.test.cs
//
// This file is part of ILGPU and is distributed under the University of Illinois Open
// Source License. See LICENSE.txt for details.
// ---------------------------------------------------------------------------------------

<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ output extension=".runsettings" #>
<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <!-- Run on native platform architecture. -->
<# if (Environment.Is64BitOperatingSystem) { #>
    <TargetPlatform>x64</TargetPlatform>
<# } else { #>
    <TargetPlatform>x86</TargetPlatform>
<# } #>
  </RunConfiguration>
</RunSettings>